@model OnlineStore.Models.Student
@if (Model.Courses != null)
{
    <h4>Courses</h4>
    <table class="table table-bordered table striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Credits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.Title</td>
                    <td>@course.Credits</td>
                    <td>
                        <a href="/course/edit/@Model.StudentId/@course.CourseId" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a href="/course/delete/@course.CourseId" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}